<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freescale.iastate.washer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.freescale.iastate.washer.WasherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.freescale.iastate.washer.ProgressActivity"
            android:label="@string/app_name" />
        <activity android:name="com.freescale.iastate.washer.CustomProgramActivity" />
        <activity android:name="com.freescale.iastate.washer.StainMenuActivity" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value="com.freescale.iastate.washer.StainViewActivity" />
        </activity>
        <activity android:name="com.freescale.iastate.washer.StainViewActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity android:name="MaintenanceActivity" />
        <activity android:name="SearchActivity" />
        <activity android:name="WeatherActivity" >
        </activity>
    </application>

</manifest>